
.recover-container {
  padding: 2rem;
  background-color: rgb(161, 1, 1);
  color: black;
  max-width: 500px;
  margin: 3rem auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.recover-container h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.recover-container form input,
.recover-container form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 4px;
  color: rgb(245, 8, 8);
  border: 1px solid #ff0000;
}

.recover-container form button {
  background-color: #4CAF50;
  color: rgb(245, 8, 8);
  border: none;
  cursor: pointer;
}

.recover-container form button:disabled {
  background-color: #bb1616;
  cursor: not-allowed;
}
